<div id="footer">
  <p>Copyright (c) 2009 - 2010 tiikitter.jp. 引用元発言の著作権は twitter.com にポストした発言者にあります。</p>
  <p>
    <a href="http://twitter.com/tkosuga">twitter</a>｜
    <a href="http://www.rizeteaz.com/tkosuga">ブログ</a>｜
    <a href="http://iddy.jp/profile/tkosuga/">iddy</a>
  </p>
</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-2482502-21");
        pageTracker._trackPageview();
    } 
    catch (err) {
    }
</script>
