
<div class="logo clearfix">
  <div class="title">
    <h1><a href="/">地域ったー</a><span>ツイッターから流行地域を切り取ったー</span></h1>
  </div>
  <div class="join_us_description">
    あなたの地名を含んだツイートで地域ランキングが決まります。西日本、東日本のどちらかをフォローしてご参加下さい！自動フォロー返しする事で発言を収集しています。
  </div>
  <div class="join_us_buttons">
    <%= link_to(image_tag("twitter_east_64px.png", :alt => "東日本"), "http://twitter.com/tiikitter_east") %>
    <%= link_to(image_tag("twitter_west_64px.png", :alt => "西日本"), "http://twitter.com/tiikitter_west") %>
  </div>
</div>

<div id="menu" class="underlinemenu">
  <ul class="clearfix">
    <li><a href="/">トップ</a></li>
    <li><a href="/about">説明</a></li>
<!--
    <li><a href="/inquiry">問い合わせ</a></li>
    <li><a href="/disclaimer">免責事項</a></li>
-->
  </ul>
</div>
