<p>
  <a href="http://twitter.com/tiikitter_west" style="padding-left: 30px"><%= image_tag "west_follow_button.png", :alt => "地域ッター西日本をフォローする" %></a>
  <a href="http://twitter.com/tiikitter_east" style="padding-left: 30px"><%= image_tag "east_follow_button.png", :alt => "地域ッター東日本をフォローする" %></a>
</p>
