<%= render :partial => "parts/head", :locals => {
 :page_title => "説明 | tiikitter",
 :keywords   => "#{@word}",
}
%>
<body>
  
  <div id="main">

    <%= render :partial => "parts/header" %>

    <div class="breadcrumb">
      <a href="/">HOME</a><span>説明</span>
    </div>

    <div id="content">

        <h3>地域ッターとは</h3>

        <p>福岡ｧ！に北海道ァ！が共鳴しているのを見て思いつきました。地域ネタはいける。twitterで流行している都道府県、駅名、市町村名、地名を機械的に抽出し、集計を行なうアプリケーションです。</p>

        <h3 id="rule">参加方法</h3>
        
        <p>流行の地域情報はあなたの発言から作られます。参加するには下の2つのうちどちらか該当するアカウントをフォローして下さい。</p>

        <%= render :partial => "parts/invitation_box" %>
        
        <p>地域情報が含まれているツイートを自動収集し、ツイート内容から地域情報を抽出し集計しています。</p>
        
        <p>ツイートを収集するため、自動でフォロー返しを行なっております。フォロー後に発言を集計されたくない方は、お手数ですがブロックの設定をお願いします。</p>

        <h3>連絡先</h3>

        <p>開発および運用は<a href="http://www.rizeteaz.com/tkosuga">tkosuga</a>が行なっております。ご意見ご要望などありましたら、<a href="http://twitter.com/tkosuga">ツイッターのtkosuga</a>か、メールにてご連絡下さい。メールアドレスはtkosuga(at)gmail.comです。</p>

        <h3>リリースノート</h3>

        <p>2011/7/20 UIの修正、ページ構成の修正。</p>

        <p>2011/7/16 UIのリリューアル。</p>

        <p>2011/7/14 設計の修正。Twitter認証方式の変更。</p>

        <p>2010/1/25 twitterアイコンの下にfollowアイコンを追加。リンク先をtwitterに修正。</p>

        <p>2010/10/16 発言者別ページ、地域ページに発言者のアイコン表示と発言者別ページへ遷移する機能を追加。</p>

        <p>2010/10/13 久留米、首里が拾えていなかったのを修正。</p>

        <p>2010/10/12 検索を完全一致に変更。ヒートマップを都道府県にも追加。ヒートマップの精度を向上。その他もろもろ。</p>

        <p>2010/9/27 都道府県のヒートマップを表示。定期的に自動で更新されます。</p>

        <p>2010/9/24 都道府県のみ抽出していたのを、地名、駅名、市町村名までサポートするように修正。</p>
        
        <p>2010/9/23 とりあえず公開</p>

    </div>
    <%= render :partial => "parts/footer" %>
  </div>

</body>

